body {
    background-color: rgb(255, 255, 255);
    color: black;
}

header {
    color: black;
    background-color: white;
}

.destaques {
    background-color: rgb(28, 100, 163);
    color: #ffffff;
    padding: 50px;
    justify-items: center;
}

.destaques h2 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 18px;
    text-align: center;
    padding: 100px;
}

.carrosel-box {
  position: relative;          /* relative */
  width: 500px;                /* w-80 = 320px */
  height: 500px;               /* h-80 = 320px */
  background-color: rgb(255, 251, 251);     /* bg-black */
  border-radius: 1rem;         /* rounded-2xl */
  overflow: hidden;            /* overflow-hidden */
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25); /* shadow-2xl */
}

.listaModelos {
    color: #000;
    background-color: #000;
}

.modelos-3d {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.modelo {
  background: #f9f9f9;
  color: #000;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.realidade-aumentada {
    background-color: #9a0000;
    color: #ffffff;
    padding: 25px;
    justify-items: center;
}

.realidade-aumentada h2 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 18px;
    text-align: center;
    padding: 10px
}

.categorias {
    background-color: rgb(28, 100, 163);
    padding: 25px;
    color: #000;
}

.categorias h1 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 18px;
    text-align: center;
    color: #ffffff;
}

select {
    background-color: #ffffff;
    color: #000;
    padding: 10px;
}