@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
a,
p, figcaption {
    font-family: 'Cinzel', serif;
}

h2 {
    padding: 20px;
    font-size: 24px;
}

p {
    padding: 15px;
}

a {
    color: rgb(8, 8, 106)
}

a:hover {
    color: red;
    text-decoration: underline;
}

section {
    text-align: center;
    padding: 30px;
}