@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap');

body {
    background-color: #9a0000;
}

h1,
h2,
h3,
h4,
a,
p, figcaption {
    font-family: 'Cinzel', serif;
}

h1 {
    text-align: center;
    padding: 0px;
}

h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

a {
    color: rgb(8, 8, 106);
}

a:hover {
    color: red;
    text-decoration: underline;
}

img {
    justify-self: center;
    padding: 10px;
}