@font-face {
    font-family: "LOT";
    src: url("fonts/LOT.otf") format("truetype");
}

h1{
    /* font-family: 'LOT', sans-serif;
    font-weight: lighter;
    font-style: normal; */
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap');

h1,
h2,
h3,
h4,
a,
p,
figcaption {
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 22px;
    text-align: center;
    padding: 100px;
}

.inicio {
    background-color: rgb(5, 5, 60);
    color: white;
    padding: 200px;
}

a {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
}

p {
    padding: 10px;
}

#paginas {
    margin: 30px;
    padding: 30px;
}

#paginas {
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#paginas h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}

#paginas li {
    padding: 50px;
}

.botao {
    color: rgb(8, 8, 106);
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 18px;
}

hr {
    height: 1px;
    /* Define a espessura */
    background-color: #000000;
    /* Cor da linha */
}


footer {
    background-color: #9a0000;
    color: white
}

footer h1 {
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

footer p {
    padding: 60px;
    text-align: justify;
    text-indent: 20px;
}

footer .aluna {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(89, 88, 88);
    color: white;
}

footer .aluna img {
    width: 30%;
}

footer .redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px;
    background-color: rgb(89, 88, 88);
}